@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------------- */

.container {
    display: flex;
    flex-direction: row;
}

.logo-sect {
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");

    width: 35vw;
    height: 100vh;
}

.logo-text {
    background-color: rgba(0, 0, 0, 65%);
    height: 150px;
    position: relative;
    top: 200px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 58px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.logo-text img {
    height: 160px;
    width: 135px;
}

body {
    background-color: #12100E;
}

p {
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 50px;
}

.bold {
    font-weight: 700;
}

.form-sect {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 65vw;
}

.spaced-para {
    padding: 40px 50px;
}

.form-container {
    background-color: #231F1B;
    padding-top: 20px;
    box-shadow: 0 10px 20px -2px rgb(22 22 22);
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    padding: 20px 50px;
}

label {
    color: lightgray;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;
    padding-bottom: 2px;
}

input:focus {
    border-color: #DA8411;
}

input {
    outline: none;
    border-width: 0 0 3px;
    border-color: #231F1B;
}

button {
    margin: 30px 50px;
    width: 180px;
    height: 50px;
    border: solid 3px #DA8411;
    background-color: #12100E;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
    font-weight: 900;
    color: #DA8411;
}

button:hover {
    background-color: #DA8411;
    color: black;
    
}

a {
    color: #DA8411;
}

.pass-conf {
    font-size: 11px;
    color: red;
    padding-left: 0px;
}

/* #231F1B for form background */
/* #da8411 for pineapple */